@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/subject.css");

p {
	font-family: 'Open+Sans+Condensed';
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
}

h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
}